*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  /* Card Colors */
  --sinopia:#db3c14;
  --majorelle-blue:#5941dd;
  --green:#19af55;
  --alabaster:#e3d618;
  --dark-yellow:#ddb941;
  --title--green:#869f0f;
  --title-purple:#8e0cb4;
  /* Happy Summer Kids Food */
  --HSKF-A:#000000;
  --HSKF-B:#BFEA7C;
  --HSKF-C:#9BCF53;
  --HSKF-D:#7eacad;
}
body{
  /* background:url('./images/unnamed.jpg') fixed transparent; */
  background-color: var(--HSKF-D);
  color:var(--HSKF-A);
  width:100vw;
}
header{
  background-color: var(--HSKF-D);
  color:var(--HSKF-A);
  font-style: normal;
  text-align: center;
  top: 200px;
  width:100vw;
}
.fontdiner-swanky-regular {
  position: relative;
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
}
nav{
  display: flex;
  padding: 0;
  border: 0 ;
  justify-content:flex-start;
}
a:hover{
  background-color: var(--majorelle-blue);
}
a{
  text-decoration: none;
  color:var(--HSKF-A);
  border:0;
  margin:0;
  padding: 5px 10px;
}
#about{
  display:none;
  border:#db3c14 solid 2px;
  background-color: crimson;
}
#logo{
  height:200px;
}