*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  /* Card Colors */
  --sinopia:#db3c14;
  --majorelle-blue:#5941dd;
  --green:#19af55;
  --alabaster:#e3d618;
  --dark-yellow:#ddb941;
  --title--green:#869f0f;
  --title-purple:#8e0cb4;
  /* Happy Summer Kids Food */
  --HSKF-A:#000000;
  --HSKF-B:#BFEA7C;
  --HSKF-C:#9BCF53;
  --HSKF-D:#7eacad;
}
body{
  /* background:url('./images/unnamed.jpg') fixed transparent; */
  background-color: white;
  color:black;
  width:100%;
}
.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-size:80px;
  font-style: bold;
}
.purple{
  color:#8e0cb4;
}
.green{
  color:#869f0f;
}
header{
  /* background-color: var(--HSKF-D); */
  color:var(--HSKF-A);
  font-style: normal;
  text-align: center;
  top: 200px;
  width:100%;
}
.fontdiner-swanky-regular {
  position: relative;
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
}
nav{
  display: flex;
  flex-direction: row;
  padding: 0;
  border: 0 ;
  justify-content:center;
  text-align: center;
  cursor: pointer;
  /* background-color: #db3c14; */
}
a:hover{
  background-color: var(--majorelle-blue);
}
a{
  /* text-decoration: none; */
  color:var(--HSKF-A);
  border:0;
  margin:0;
  padding: 5px 10px;
}
#team{
  display:none;
  border:#db3c14 solid 2px;
  background-color: crimson;
}
#logo{
  /* max-height:200px; */
  width:100%
}
#scLogo{
  height: 200px;
  width:175px;
display:block;
position:fixed
}
/* #quote{
  display:flex;
  flex-direction: column;
} */
label{
  display:block;
  padding:5px
}
p{
  padding: 30px;
  text-align: center;
}
/* form {
  padding: 40px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
} */
form{
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  text-align: left;
}
input,
textarea{
  width:100%
}
input[type="number"]
{
  width: 40px;
}
input[type="radio"],
input[type="checkbox"]
{
  width: 20px;
}
input[type="date"]{
  width: 100px;
}
 #form-container{
  border-radius: 25px;
  background-color: #d9feff;
  width:607px;
  margin: auto;
}
/* input{
  margin-left: 30px;
} */
main{
  text-align: center;
}
#destinations{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

}
img{
  width:50%;
  cursor: pointer;
}
.dis-nav{
  background-color: lightskyblue;
}
@media screen and (max-width:1094px){
  .whisper-regular{
    font-size: 60px
  }
}
@media screen and (max-width:832px){
  .whisper-regular{
    font-size: 40px
  }
}